# 在主配置文件中声明环境变量
env API_BASE_URL;
env OPENAI_API_KEY;
env ASR_SERVER_URL;

events {
    worker_connections 1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    # 开启 gzip
    gzip on;
    gzip_min_length 1k;
    gzip_comp_level 6;
    gzip_types text/plain text/css text/javascript application/json application/javascript application/x-javascript application/xml;
    gzip_vary on;
    gzip_proxied any;

    # 包含其他配置
    include /etc/nginx/conf.d/*.conf;
} 